crewai[tools]
python-dotenv
google-api-python-client
openai
lancedb
pandas
tabulate
openpyxl
gradio
fastapi
uvicorn
yt-dlp>=2025.9.26
curl-cffi
pyyaml
llama-index
llama-index-llms-openai
sentence-transformers
llama-index-llms-openrouter
llama-index-embeddings-huggingface
llama-index-vector-stores-lancedb
google-auth-oauthlib
google-auth-httplib2
google-generativeai
